<div class="auth-page">

  <div class="auth-card">


    <!-- LOGO -->

    <div class="logo">

      <span class="logo-icon">

        {{
          revampFallback()
            ['login']
            ['logo-icon']
        }}

      </span>


      <span>

        {{
          revampFallback()
            ['login']
            ['brand-name']
        }}

      </span>

    </div>


    <div class="auth-content">


      <h1>

        {{
          revampFallback()
            ['login']
            ['title']
        }}

      </h1>


      <p>

        {{
          revampFallback()
            ['login']
            ['subtitle']
        }}

      </p>



      <!-- ERROR -->

      <div
        class="error-message"
        *ngIf="errorMessage"
      >

        {{ errorMessage }}

      </div>



      <!-- EMAIL -->

      <div class="form-group">

        <label>

          {{
            revampFallback()
              ['login']
              ['email-label']
          }}

        </label>


       <input
  type="email"
  [(ngModel)]="email"
  [placeholder]="
    revampFallback()
      ['login']
      ['email-placeholder']
  "
  [disabled]="isLoading"
/>

      </div>



      <!-- PASSWORD -->

      <div class="form-group">

        <label>

          {{
            revampFallback()
              ['login']
              ['password-label']
          }}

        </label>


      <input
  type="password"
  [(ngModel)]="password"
  [placeholder]="
    revampFallback()
      ['login']
      ['password-placeholder']
  "
  [disabled]="isLoading"
/>

      </div>



      <!-- LOGIN -->

      <button
        type="button"
        class="primary-button"
        (click)="login()"
        [disabled]="isLoading"
      >

        <span
          class="spinner"
          *ngIf="isLoading"
        >
        </span>


        <span
          *ngIf="!isLoading"
        >

          {{
            revampFallback()
              ['login']
              ['login-button']
          }}

        </span>


        <span
          *ngIf="isLoading"
        >

          {{
            revampFallback()
              ['login']
              ['loading-button']
          }}

        </span>

      </button>



      <!-- SIGNUP -->

      <div class="auth-footer">

        <span>

          {{
            revampFallback()
              ['login']
              ['signup-text']
          }}

        </span>


        <button
          type="button"
          (click)="goToSignup()"
        >

          {{
            revampFallback()
              ['login']
              ['signup-button']
          }}

        </button>

      </div>

    </div>

  </div>

</div>